
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/quartet_qa_tool_sets.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
TransferAPIFromExcel/.DS_Store
TransferAPIFromExcel/case_test_data_new.json
